/* Main styles */
body {
  margin-top: 13.5rem;
  color: #999;
  font: 400 16px/1.5 exo, ubuntu, 'segoe ui', helvetica, arial, sans-serif;
  text-align: center;
  /* img size is 50x50 */
}
body::before {
  content: 'Pick Your Algorithm';
  font-size: 8rem;
  font-weight: 100;
  font-style: normal;
}
