<html>

<head>
  <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
  <link href="../static/index.css" rel="stylesheet">
  <title>Sorting Visualizer</title>
</head>

<body>

  <div class="flex justify-center">
    <a href="/bubble">
      <button
        class="flex-1 w-1/10 bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded center m-2 mt-10">
        Bubble Sort
      </button>
    </a>

    <a href="/insertion">
      <button
        class="flex-1 w-1/10 bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded center m-2 mt-10">
        Insertion Sort
      </button>
    </a>

    <a href="/quick">
      <button
        class="flex-1 w-1/10 bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded center m-2 mt-10">
        Quick Sort
      </button>
    </a>

    <a href="/merge">
      <button class="flex-1 bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded center m-2 mt-10">
        Merge Sort
      </button>
    </a>

  </div>

</body>

</html>
